In [1]:
import pandas as pd

In [2]:
import numpy as np

In [41]:
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
import lifetimes

In [4]:
df=pd.read_csv('Online_Retail.csv', encoding='ISO-8859-1')

In [6]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
df[df['CustomerID'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/10 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/10 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/10 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/10 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/10 14:32,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/9/11 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/9/11 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/9/11 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/9/11 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/9/11 10:26,1714.17,NaN,United Kingdom

In [11]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [17]:
df.shape[0]

541909

In [18]:
df['CustomerID'].dropna(inplace=True)

In [21]:
df=df[~df['CustomerID'].isnull()]

In [22]:
df.shape[0]

406829

In [23]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [25]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

C:\Users\PU963FN\AppData\Local\Temp\ipykernel_5108\3737639551.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
C:\Users\PU963FN\AppData\Local\Temp\ipykernel_5108\3737639551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [27]:
df['Total']=df['Quantity']*df['UnitPrice']

C:\Users\PU963FN\AppData\Local\Temp\ipykernel_5108\4079148278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total']=df['Quantity']*df['UnitPrice']

In [28]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [36]:
df=df[~df['InvoiceNo'].str.contains('C')]

In [40]:
df.shape[0]

397924

In [79]:
#RFM & summary
summary=lifetimes.utils.summary_data_from_transaction_data(df,'CustomerID','InvoiceDate','Total')
summary

            frequency  recency      T  monetary_value
CustomerID
12346.0           0.0      0.0  325.0        0.000000
12347.0           6.0    365.0  367.0      599.701667
12348.0           3.0    283.0  358.0      301.480000
12349.0           0.0      0.0   18.0        0.000000
12350.0           0.0      0.0  310.0        0.000000
...               ...      ...    ...             ...
18280.0           0.0      0.0  277.0        0.000000
18281.0           0.0      0.0  180.0        0.000000
18282.0           1.0    119.0  126.0       77.840000
18283.0          13.0    334.0  337.0      152.802308
18287.0           2.0    159.0  201.0      536.000000

[4339 rows x 4 columns]

In [80]:
#First Time buyer Ratio
print(f'{ np.round((sum(summary['frequency']==0)/len(summary))*100,2) }%')

35.7%

In [81]:
bgf=lifetimes.BetaGeoFitter(penalizer_coef=0.0)

In [82]:
bgf.fit(summary['frequency'],summary['recency'],summary['T'])

In [83]:
bgf.summary

            coef   se(coef)  lower 95% bound  upper 95% bound
r       0.826433   0.026780         0.773944         0.878922
alpha  68.890678   2.611055        63.773011        74.008345
a       0.003443   0.010347        -0.016837         0.023722
b       6.749363  22.412933       -37.179985        50.678711

In [84]:
summary['probability_alive']=bgf.conditional_probability_alive(summary['frequency'],summary['recency'],summary['T'])

In [85]:
summary

            frequency  recency      T  monetary_value  probability_alive
CustomerID
12346.0           0.0      0.0  325.0        0.000000           1.000000
12347.0           6.0    365.0  367.0      599.701667           0.999698
12348.0           3.0    283.0  358.0      301.480000           0.999177
12349.0           0.0      0.0   18.0        0.000000           1.000000
12350.0           0.0      0.0  310.0        0.000000           1.000000
...               ...      ...    ...             ...                ...
18280.0           0.0      0.0  277.0        0.000000           1.000000
18281.0           0.0      0.0  180.0        0.000000           1.000000
18282.0           1.0    119.0  126.0       77.840000           0.999455
18283.0          13.0    334.0  337.0      152.802308           0.999797
18287.0           2.0    159.0  201.0      536.000000           0.999284

[4339 rows x 5 columns]

In [86]:
return_customers=summary[summary['frequency']>0]
ggf=lifetimes.GammaGammaFitter(penalizer_coef=0.0)

In [87]:
ggf.fit(return_customers['frequency'],return_customers['monetary_value'])

In [88]:
summary=summary[summary['monetary_value']>0]

In [89]:
summary['predicted_cltv']=ggf.customer_lifetime_value(bgf,summary['frequency'],summary['recency'],summary['T'],summary['monetary_value'])

In [90]:
summary

,frequency,recency,T,monetary_value,probability_alive,predicted_cltv
CustomerID,,,,,,
12347.0,6.0,365.0,367.0,599.701667,0.999698,3010.933997
12348.0,3.0,283.0,358.0,301.480000,0.999177,1008.692677
12352.0,6.0,260.0,296.0,368.256667,0.999405,2372.739690
12356.0,2.0,303.0,325.0,269.905000,0.999478,784.161526
12358.0,1.0,149.0,150.0,683.200000,0.999486,1519.139597
...,...,...,...,...,...,...
18272.0,5.0,244.0,246.0,487.752000,0.999668,2959.938067
18273.0,2.0,255.0,257.0,76.500000,0.999548,590.224495
18282.0,1.0,119.0,126.0,77.840000,0.999455,822.392683
18283.0,13.0,334.0,337.0,152.802308,0.999797,2005.022532
18287.0,2.0,159.0,201.0,536.000000,0.999284,1737.687337

In [92]:
summary.to_excel('CustomerLTV.xlsx', sheet_name='Sheet1')

In [93]:
df['InvoiceDate'].unique()

<DatetimeArray>
['2010-12-01 08:26:00', '2010-12-01 08:28:00', '2010-12-01 08:34:00',
 '2010-12-01 08:35:00', '2010-12-01 08:45:00', '2010-12-01 09:00:00',
 '2010-12-01 09:01:00', '2010-12-01 09:02:00', '2010-12-01 09:09:00',
 '2010-12-01 09:32:00',
 ...
 '2011-12-09 12:09:00', '2011-12-09 12:16:00', '2011-12-09 12:19:00',
 '2011-12-09 12:20:00', '2011-12-09 12:21:00', '2011-12-09 12:23:00',
 '2011-12-09 12:25:00', '2011-12-09 12:31:00', '2011-12-09 12:49:00',
 '2011-12-09 12:50:00']
Length: 17286, dtype: datetime64[ns]